.form-input {
  height: 30px;
  border-radius: 30px;
  border: 1px solid #5c7cfa;
}

.form-button {
  width: auto;
  height: 30px;
  border: 1px solid #5c7cfa;
  border-radius: 10px;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.form-button:hover {
  background-color: #5c7cfa;
}
